@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
@import "./variables";

* {
  margin: 0;
  padding: 0;
}

@mixin flex($dir,$gap) {
  display: flex;
  flex-direction: $dir;
  gap: $gap;
  justify-content: center;
  align-items: flex-start;
}
body{
  background: url(/images/bg-pattern-desktop.svg);
  box-sizing: border-box;
  font-family:$body-font;
  padding-bottom: 6rem;
}
main{
  @include flex(row,0);
}
.content{
  @include flex(column,1rem);
  padding: 2.4rem 6rem;

}
div.text h1{
  margin-top: 3rem;
  @include flex(column,.2rem);
  font-weight: $big-font;
  text-transform: uppercase;
  color: $dark-grayish-red;
  letter-spacing: 1.1rem;
  line-height: 4.2rem;
  font-size: 4rem;
}
#col{
  color: $desaturated-red;
  font-weight: $small-font;
}
 
.para{
  color: $desaturated-red;
  line-height: 1.8rem;
  font-weight: $mid-font;
  margin-bottom: 1rem;
  margin-right: 4rem;
}
.input{
  width: 23rem;
  height: 1rem;
  position: relative;
}
input{
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  padding: 1rem;
  border: 2px solid $desaturated-red;
}
::placeholder{
  color: $desaturated-red;
}
div.btn{
  border-radius: 1.5rem;
  position: absolute;
  bottom: -2.2rem;
  right: -2.3rem;
  width: 6rem;
  height: 3.2rem;
  background: linear-gradient(135deg, hsl(0, 32%, 85%), hsl(0, 74%, 74%));
  @include flex(row,0 );
  align-items: center;
}
.btn:hover{
  box-shadow: -1px 16px 17px -6px rgba(0, 0, 0, 0.51) ;
  width: 6.2rem;
  height: 3.4rem;
}
.error{
  position: absolute;
 right: 4.7rem;
 top: .9rem;
}
.mobile-img{
  display: none;
}
.hero-img{
  width: 60rem;
  height: 100vh;
}
.hero-img img{
  width: 100%;
  height: 100%;
}

@media(max-width:855px){
  *{
    margin: 0;
    padding: 0;
  }
  body{
    width: 23.2rem;
    height: 100%;
    margin: auto;
  }
  main{
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .mobile-img{
    display: block;
    width: 100%;
  }
  div.text h1{
    align-items: center;
    font-size: 3rem;
    padding-left: 2.46rem;
  }
  .para{
   text-align: center;
  }
  p{
    font-size: .9rem;
    padding:0 2rem;
  }
  .hero-img{
    display: none;
  }
 .content{
   padding: 0;
   height: 100%;
 }
 .para{
   width: 100%;
 }
 .input{
  width: 20rem;
  position: relative;
  text-align: center;
  margin-left: .6rem;
}
.logo {
  margin-left: 2rem;
  margin-top: 2rem;
}

footer{
  display: none;
}
}
